/* Default styles */
.image-uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: #FF667D;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* ImageUploader.css */
.custom-file-upload[disabled] {
  cursor: not-allowed;
  /* Add any additional styles to visually indicate the disabled state */
  opacity: 0.5; /* For example, reduce opacity */
}


/* .custom-file-upload:hover {
  background-color: transparent;
  border: 2px solid #7BECDC;
  border-radius: 4px;
  color: #7BECDC;
} */
/* ImageUploader.css */


.preview-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.preview-image {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for tablets */
  .image-uploader-container {
    margin: 10px;
  }

  .custom-file-upload {
    font-size: 14px;
  }
.preview-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
  .preview-image {
    width: 80%;
    /* Center the image horizontally */
  }
}


@media screen and (max-width: 480px) {
  /* Adjust styles for phones */
  .custom-file-upload {
    font-size: 12px;
  }
}
.score-container {
  margin-top: 30px;
  margin-bottom:15px;
}

/* Add these styles to your ImageUploader.css file */

/* ImageUploader.css */



.ingredient-card {
  background-color: transparent;
  transition: transform 0.3s ease-in-out; 
  border-radius: 5px;
  padding: 10px;
  margin: 10px; /* Add some margin between ingredient cards */
  width:400px;
  height: auto;
}

.ingredient-card:hover {
  transform: scale(1.1);
}

.ingredient-info {
  display: flex;
  align-items: center;

}

.ingredient-info strong {
  margin-right: 5px;
  max-width:290px;
}


/* Add these styles to your ImageUploader.css file */

.small-score-circle {
  width: 10px; /* Adjust the width */
  height: 10px; /* Adjust the height */
}





/* ImageUploader.css */



/* Add these styles to your ImageUploader.css file */

.ingredient-card {
  background-color: transparent;
  transition: transform 0.3s ease-in-out; 
  border-radius: 5px;
  padding: 10px;
  margin: 10px; /* Add some margin between ingredient cards */
  width: 400px; /* Default width */
}

/* Adjust width for tablets */
@media screen and (max-width: 768px) {
  .ingredient-card {
    width: 300px; /* Adjust width for tablets */
  }
}

/* Adjust width for phones */
@media screen and (max-width: 480px) {
  .ingredient-card {
    width: 250px; /* Adjust width for phones */
  }
}

/* Other styles remain the same */


